@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* Colors */
  --primary: #1f2937;
  --secondary: #4b5563;
  --light: #6b7280;

  /* Other Colors */
  --success: #22c55e;
  --success-light: #f0fdf4;
  --warning: #eab308;
  --warning-light: #fefce8;
  --danger: #e74c3c;
  --info: #3b82f6;
  --info-light: #eff6ff;

  /* Backgrounds */
  --bg-primary: #f5f5f5;

  /* Buttons */
  --btn-primary: #5743e6;

  /* Text Colors */
  --text-primary: var(--primary);
  --text-secondary: var(--secondary);
  --text-light: var(--light);

  /* Border */
  --border-primary: 0.5px solid #c4c4c4;
  --border-secondary: 1.5px solid;

  /* Shadows */
  --shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  /* Border Radius */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-full: 9999px;

  /* Spacing */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 12px;
  --space-lg: 20px;
  --space-xl: 24px;
  --space-2xl: 32px;

  /* Font Sizes */
  --font-xs: 10px;
  --font-sm: 12px;
  --font-md: 14px;
  --font-lg: 16px;
  --font-xl: 18px;
  --font-2xl: 20px;
  --font-3xl: 30px;
}

body {
  background-color: var(--bg-primary);
}

.container {
  display: flex;
}

/* Login Begins */

.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 450px;
  padding: var(--space-xl);
  box-shadow: var(--shadow-sm);
  border-radius: var(--radius-lg);
  background-color: white;
}

.login-form h1 {
  font-size: 24px;
  font-weight: 700;
}

.login-form:first-child {
  text-align: center;
}

.login-form button {
  margin-top: var(--space-lg);
}

/* Login Ends */

/* Sidebar Begins */

.sidebar-container {
  padding: 0px 8px;
  width: 300px;
  background-color: white;
  transition: all 0.3s;
  box-shadow: var(--shadow-sm);
  border-bottom: var(--border-primary);
  list-style: none;
}

.sidebar {
  position: sticky;
  top: 0px;
  height: 100vh;
}

a {
  text-decoration: none;
  color: var(--text-secondary);
}

.logo {
  padding: var(--space-lg);
  font-size: var(--font-2xl);
  font-weight: bold;
  text-align: center;
  border-bottom: var(--border-primary);
}

.menu {
  padding: 20px 0;
}

.menu-heading {
  padding: 10px 20px;
  font-size: var(--font-lg);
  font-weight: 500;
  color: var(--text-secondary);
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  cursor: pointer;
}

.menu img {
  height: var(--space-lg);
  width: var(--space-lg);
}

.menu-item {
  padding: 12px 20px;
  font-size: var(--font-md);
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
}

.menu-item:hover {
  background-color: rgb(249 250 251);
}

.menu-item.active {
  color: var(--btn-primary);
  background-color: var(--info-light);
}

.dash {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  font-size: var(--font-lg);
  font-weight: 500;
  color: var(--text-secondary);
}

.menu li {
  border-radius: var(--radius-md);
}

.menu-item span {
  margin-left: 30px;
}

.logout {
  border-top: var(--border-primary);
  padding: 20px;
}

/* Dropdown */

.menu-dropdown {
  position: relative;
  list-style: none;
  margin-bottom: 4px;
}

.menu-heading img {
  width: 20px;
  height: 20px;
}

.dropdown-arrow {
  margin-left: auto;
  transition: transform 0.2s ease;
  font-size: 12px;
}

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  list-style: none;
}

.dropdown-content.active {
  max-height: 500px;
}

/* Sidebar Ends */

/* Repeat */
.flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gap {
  gap: var(--space-lg);
}

.text-primary {
  font-size: var(--font-xl);
  font-weight: 600;
  color: var(--text-primary);
}

.text-secondary,
td {
  font-size: var(--font-md);
  font-weight: 500;
  color: var(--text-secondary);
}

.text-light,
th {
  font-size: var(--font-sm);
  color: var(--text-light);
}

/* Buttons */

.btn {
  padding: 8px 16px;
  color: white;
  background-color: var(--btn-primary);
  border-radius: var(--radius-md);
  border: none;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: white;
  color: var(--text-primary);
  border: var(--border-primary);
  transition: all 0.3s;
}

.btn-secondary {
  padding: 4px 12px;
  border: var(--border-secondary);
  border-radius: var(--radius-md);
  background-color: white;
  cursor: pointer;
}

.btn-blue {
  color: var(--btn-primary);
  border-color: #d5e8fe;
}

.btn-green {
  color: var(--success);
  border-color: #c7ffdb;
}

/* Input Fields */

.input-field {
  margin-top: var(--space-lg);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.input-field label {
  color: #020817;
  font-size: var(--font-md);
}

.input-field input,
select,
textarea {
  margin: 8px 0px 0px;
  padding: 8px 12px;
  border-radius: var(--radius-md);
  border: var(--border-primary);
  width: 100%;
  font-size: var(--font-md);
}

.input-field textarea {
  height: 150px;
}

.input-field input:focus,
select:focus,
textarea:focus {
  outline: 1px solid black;
}

.checkbox {
  padding: 8px 12px;
  border: var(--border-primary);
  border-radius: var(--radius-md);
}

.checkbox div {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.checkbox input {
  margin: 0;
}

/* Main Content */

.main-content {
  width: 100%;
}

/* Page Content */

.page-section {
  background-color: white;
  color: var(--text-primary);
  margin: var(--space-lg);
  padding: var(--space-xl);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-sm);
}

.page-heading {
  font-size: var(--font-3xl);
  font-weight: bold;
}

.page-section p {
  font-size: var(--font-lg);
}

.page.active {
  display: block;
}

.page h1 {
  margin-bottom: var(--space-lg);
  color: #2c3e50;
}
