/* Table Begins */

.table {
  margin: var(--space-lg);
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--font-md);
  box-shadow: var(--shadow-sm);
  border-radius: var(--radius-sm);
  overflow: hidden;
}

table tr {
  background-color: white;
  border-bottom: var(--border-primary);
}

table th {
  text-align: center;
  background-color: var(--bg-primary);
  padding: 16px 0px;
  font-weight: 600;
  border-bottom: var(--border-primary);
}

table td {
  text-align: center;
  padding: 16px 0px;
  border-bottom: var(--border-primary);
  background-color: var(--white);
  color: var(--text-primary);
}

table .tag {
  display: inline;
  font-size: var(--font-sm);
  font-weight: 500;
}

.btn-partner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

/* Table Ends */

/* Search Bar Begins */

.search-bar {
  display: flex;
  align-items: center;
  width: 50%;
}

.search-bar div {
  border: var(--border-primary);
  padding: 6.5px 12px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.search-bar img {
  width: 16px;
  height: 16px;
}

.search-bar input {
  padding: 8px 12px;
  border: var(--border-primary);
  width: 100%;
  font-size: var(--font-md);
}

.search-bar input:focus {
  outline: 1px solid black;
}

.search-type {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-top: -.1px;
  width: 120px;
}

/* Search Bar Ends */
