/* Table Begins */

.table {
  margin: var(--space-lg);
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--font-md);
  box-shadow: var(--shadow-sm);
  border-radius: var(--radius-sm);
  overflow: hidden;
}

table tr {
  background-color: white;
  border-bottom: var(--border-primary);
}

table th {
  text-align: center;
  background-color: var(--bg-primary);
  padding: 16px 0px;
  font-weight: 600;
  border-bottom: var(--border-primary);
}

table td {
  text-align: center;
  padding: 16px 0px;
  border-bottom: var(--border-primary);
  background-color: var(--white);
  color: var(--text-primary);
}

table .tag {
  display: inline;
  font-size: var(--font-sm);
  font-weight: 500;
}

/* Table Ends */
