/* Table Begins */

.table {
  margin: var(--space-lg);
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--font-md);
  box-shadow: var(--shadow-sm);
  border-radius: var(--radius-sm);
  overflow: visible;
}

table tr {
  background-color: white;
  border-bottom: var(--border-primary);
}

table th {
  text-align: center;
  background-color: var(--bg-primary);
  padding: 16px 0px;
  font-weight: 600;
  border-bottom: var(--border-primary);
}

table td {
  text-align: center;
  padding: 16px 0px;
  border-bottom: var(--border-primary);
  background-color: var(--white);
  color: var(--text-primary);
}

table img {
  width: 50px;
  height: 50px;
}

.table-flex {
  display: flex;
  align-items: center;
  padding-left: var(--space-2xl);
  gap: var(--space-md);
  border: 0;
}

th:first-child {
  width: auto;
}

.btn-partner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.actions {
  position: relative;
  display: inline-block;
}

.dropdown-container {
  display: none;
  position: absolute;
  right: var(--space-xl);
  top: 0;
  z-index: 1000;
}

.actions.show .dropdown-container {
  display: block;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: white;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  min-width: 150px;
}

.dropdown-parent,
.dropdown-single {
  position: relative;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: var(--radius-sm);
}

.dropdown-parent:hover,
.dropdown-single:hover {
  background: #f5f5f5;
}

.dropdown-parent h3,
.dropdown-single h3 {
  margin: 0;
  color: #333;
  font-size: 14px;
  font-weight: 500;
}

.dropdown-child {
  display: none;
  position: absolute;
  right: 100%;
  top: 0;
  background: white;
  min-width: 200px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 4px;
}

.dropdown-parent:hover .dropdown-child {
  display: block;
}

.dropdown-child h3 {
  padding: 8px 16px;
  font-size: 12px;
  color: #555;
  border-radius: 4px;
}

.dropdown-child h3:hover {
  background: #f0f0f0;
}

.actions img {
  width: var(--space-lg);
  height: var(--space-lg);
  cursor: pointer;
}

/* Table Ends */

/* Search Bar Begins */

.search-bar {
  display: flex;
  align-items: center;
  width: 50%;
}

.search-bar div {
  border: var(--border-primary);
  padding: 6.5px 12px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.search-bar img {
  width: 16px;
  height: 16px;
}

.search-bar input {
  padding: 8px 12px;
  border: var(--border-primary);
  width: 100%;
  font-size: var(--font-md);
}

.search-bar input:focus {
  outline: 1px solid black;
}

.search-type {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-top: -0.1px;
  width: 120px;
}

/* Search Bar Ends */
