/* Form Begins */

.form-heading {
  color: #020817;
  font-size: var(--space-xl);
  font-weight: 600;
}

.form-sub-heading {
  margin-top: 16px;
}

form .flex {
  gap: var(--space-lg);
}

.line {
  width: 100%;
  height: 0.5px;
  background-color: #c4c4c4;
  margin: var(--space-xl) 0px;
}

.btn-input {
  align-items: end;
}

.btn-plus {
  padding: 8px 12px;
  border: var(--border-primary);
  border-radius: var(--radius-md);
  cursor: pointer;
}

.domain-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.payment-details {
  width: 100%;
}

.payment-details > div {
  display: none;
  margin-top: var(--space-lg);
  align-items: start;
}

.payment-notice {
  width: 100%;
  padding: var(--space-lg);
  border-left: 3px solid var(--warning);
  border-radius: var(--radius-md);
}

/* Form Ends */
